.calculate {
  width: 100%;
  max-width: 1368px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.calculate__title {
  font-size: 5rem;
}

.calculate__description {
  max-width: 640px;
}

.calculate__image {
  padding: 2rem 0 ;
  width: 100%;
  max-width: 597px;
}

.calculate__image:hover {
  transform: scale(1.1);
}
