.header {
  width: 100%;
  max-width: 1368px;
  display: flex;
  justify-content: space-between;
  padding: 10rem 0;
}

.header__container {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem 0;
  align-items: center;
  gap: 1rem;
}

.header__title {
  max-width: 27.75rem;
  font-size: 3.43rem;
}

.header__description {
  max-width: 31.03rem;
}
.header__image {
  transform: scaleX(-1);
  width: 50%;
  height: auto;
}

.header__button {
  margin-top: 4rem;
}
