.navegation {
  width: 100%;
  max-width: 1368px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(0, 0, 0, 0.4);
}

.navegation__logo {
  width: 162px;
  height: 46px;
  padding-bottom: 0.5rem;
}

.navegation__menu {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.menu__itens {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  margin: 0;
}

.menu__item {
  color: #413e3e;
  text-decoration: none;
  display: flex;
  transition: transform 0.3s ease;
}

.menu__item:hover {
  color: #47cc4c;
  transform: scale(1.1);
}

.menu__item:active {
  color: #1eaf23;
}
